<div class="container-fluid bg_img">
  <div class="row">
    <div class="col-8 offset-2 img_cover">
      <div class="row text-center my-3">
        <h2>Welcome to the Invictus dashboard!</h2>
      </div>
      <div class="row">
        <div class="col-10 offset-1 bg-white">
          <p>gantt stuff here?</p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-10 offset-1 bg-white">
          <p>game description here?</p>
        </div>
      </div>
    </div>
  </div>
</div>
