<div class="container-fluid bg_img h-100">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 img_cover mb-5">
      <div class="row text-center my-3">
        <h2><strong> Welcome to the Invictus dashboard!</strong></h2>
      </div>

      <div class="row">
        <dash-dashboard></dash-dashboard>
      </div>

      <div class="row my-4">
        <div class="col-10 offset-1 bg-white rounded" style="height: 200px">
          <p>game description here</p>
          <!-- <p>
            maybe archive old sprints! - could also add a link at the top &
            organize them
          </p> -->
        </div>
      </div>

      <div class="row my-4">
        <div class="col-10 offset-1 bg-white rounded" style="height: 200px">
          <p>maybe show off latest art here</p>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-10 offset-1 bg-white rounded" style="height: 200px">
          <p>maybe show off latest art here</p>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-10 offset-1 bg-white rounded" style="height: 200px">
          <p>game description here?</p>
          <p>
            maybe archive old sprints! - could also add a link at the top &
            organize them
          </p>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-10 offset-1 bg-white rounded" style="height: 200px">
          <p>maybe show off latest art here</p>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-10 offset-1 bg-white rounded" style="height: 200px">
          <p>maybe show off latest art here</p>
        </div>
      </div>
    </div>
  </div>
</div>
