@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.modal {
  overflow-y: hidden;
}
.modal-open {
  overflow: auto;
}
.modal-open[style] {
  padding-right: 0px !important;
}


/* replace scrollbar with custom */
::-webkit-scrollbar {
  display: block;
  width: 1.5vw;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-track-piece:start {
  margin-top: 172px;
}

html {
  min-width: 30rem;
}

html,
body {
  height: 100%;
}

body {
  overflow: overlay;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
